{% extends "view/layout/home.njk" %}

{% block body %}
  <section class="hero">
    <div class="hero-body has-text-centered">
      <p class="title">Adding a new reservation</p>
      <p class="subtitle">Please fill out the form</p>
    </div>
  </section>
  {% include "reservations/views/layouts/form.njk" %}
{% endblock %}