<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Car Rental Management</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <script src="https://kit.fontawesome.com/775bbf9e57.js" crossorigin="anonymous"></script>
</head>
<body>
  {% include "./navbar.njk" %}

  {% block body %}{% endblock %}
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
         This website was made by Denis Gusev using <a href="https://bulma.io/">Bulma</a>.
    </div>
  </footer>
</body>
</html>