<nav class="navbar is-info" role="navigation" aria-label="main-navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/public/img/logo.png" alt="Rental logo">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">Home</a>
        <a class="navbar-item" href="/car/add">Add a car</a>
        <a class="navbar-item" href="/reservations/manage">Manage reservations</a>
        <a class="navbar-item" href="/reservations/add">Add a reservation</a>
      </div>
      <div class="navbar-end">
        <a class="navbar-item" href="https://github.com/Nullim/car-rental/issues/new">
          Report an issue
        </a>
      </div>
    </div>
  </nav>