{% block body %}
<form class="container mt-4" method="post" action="/user/save">
  {% if user %}
    <input type="hidden" name="id" value="{{ user.id }}">
  {% endif %}
  <div class="field">
    <label class="label">First Name</label>
    <div class="control">
      <input required class="input" type="text" name="first-name" autocomplete="off"
      {% if user %}
        value="{{ user.firstName }}"
      {% endif %}
      >
    </div>
  </div>
  <div class="field">
    <label class="label">Last Name</label>
    <div class="control">
      <input required class="input" type="text" name="last-name" autocomplete="off"
      {% if user %}
        value="{{ user.lastName }}"
      {% endif %}
      >
    </div>
  </div>
  <div class="field">
    <label class="label">ID Type</label>
    <div class="control has-icons-left">
      <div class="select">
        <select name="id-type">
          <option disabled>Select an option</option>
          <option value="DNI" {{ 'selected' if user.idType === 'DNI' }}>DNI</option>
          <option value="Passport" {{ 'selected' if user.idType === 'Passport' }}>Passport</option>
          <option value="CI" {{ 'selected' if user.idType === 'CI' }}>CI</option>
        </select>
      </div>
      <span class="icon is-small is-left">
        <i class="fa-solid fa-passport"></i>
      </span>
    </div>
  </div>
  <div class="field">
    <label class="label">ID Number</label>
    <div class="control">
      <input required class="input" type="number" name="id-number"
      {% if user %}
        value="{{ user.idNumber }}"
      {% endif %}
      >
    </div>
  </div>
  <div class="field">
    <label class="label">Nationality</label>
    <div class="control has-icons-left">
      <input required class="input" type="text" name="nationality" autocomplete="off"
      {% if user %}
        value="{{ user.nationality }}"
      {% endif %}
      >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-flag"></i>
      </span>
    </div>
  </div>
  <div class="field">
    <label class="label">Address</label>
    <div class="control has-icons-left">
      <input required class="input" type="text" name="address" autocomplete="off"
      {% if user %}
        value="{{ user.address }}"
      {% endif %}
      >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-house-user"></i>
      </span>
    </div>
  </div>
  <div class="field">
    <label class="label">Phone Number</label>
    <div class="control has-icons-left">
      <input required class="input" type="text" name="phone-number"
      {% if user %}
        value="{{ user.phoneNumber }}"
      {% endif %}
      >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-square-phone"></i>
      </span>
    </div>
  </div>
  <div class="field">
    <label class="label">Email Address</label>
    <div class="control has-icons-left">
      <input required class="input" type="text" name="email" autocomplete="off"
      {% if user %}
        value="{{ user.email }}"
      {% endif %}
      >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-envelope"></i>
      </span>
    </div>
  </div>
  <div class="field">
    <label class="label">Birthdate</label>
    <div class="control has-icons-left">
      <input required class="input" type="date" name="birthday"
      {% if user %}
        value="{{ user.birthday }}"
      {% endif %}
      >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-cake-candles"></i>
      </span>
    </div>
  </div>
  {% if user %}
    <input type="hidden" name="created-at" value="{{ user.createdAt }}">
  {% endif %}
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link" type="submit">Submit</button>
    </div>
    <div class="control">
      <button class="button is-danger" type="button" onclick="window.location.href='/user/manage'">Delete</button>
    </div>
  </div>
</form>
{% endblock %}