{% extends "view/layout/home.njk" %}

{% block body %}
  <section class="hero">
    <div class="hero-body has-text-centered">
      <p class="title">Editing a car with ID {{ car.id }}</p>
      <p class="subtitle">Please choose the options you wish to change</p>
    </div>
  </section>
  {% include "car/views/layout/form.njk" %}
{% endblock %}