{% block body %}
<form class="container mt-4" method="post" action="/reservations/save">
  {% if reservation %}
    <input type="hidden" name="id" value="{{ reservation.id }}">
  {% endif %}
  <div class="field">
    <label class="label">Start Date</label>
    <div class="control has-icons-left">
      <input required class="input" type="datetime-local" name="start-date"
      {% if reservation %}
        value="{{ reservation.startDate }}"
      {% endif %}
      >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-calendar-days"></i>
      </span>
    </div>
  </div>
  <div class="field">
    <label class="label">End Date</label>
    <div class="control has-icons-left">
      <input required class="input" type="datetime-local" name="end-date"
      {% if reservation %}
        value="{{ reservation.endDate }}"
      {% endif %}
      >
      <span class="icon is-small is-left">
        <i class="fa-solid fa-calendar-days"></i>
      </span>
    </div>
  </div>
  <div class="field">
    <label class="label">Payment Method</label>
    <div class="control">
      <label class="radio"><input required type="radio" name="payment-method"
      {{ 'checked' if reservation.paymentMethod === 'Cash'}} value="Cash"
      > Cash
      </label>
      <label class="radio"><input required type="radio" name="payment-method"
      {{ 'checked' if reservation.paymentMethod === 'Credit Card'}} value="Credit Card"
      > Credit Card
      </label>
      <label class="radio"><input required type="radio" name="payment-method"
      {{ 'checked' if reservation.paymentMethod === 'Bank Transfer'}} value="Bank Transfer"
      > Bank Transfer
      </label>
    </div>
  </div>
  <div class="field">
    <label class="label">Car</label>
    <div class="control">
      <div class="select">
        <select name="car-id">
          <option disabled>Choose a car</option>
          {% for car in cars %}
            <option value="{{ car.id }}" {{ 'selected' if reservation.carId === car.id}}>
              {{
                car.id + "# - " + car.brand + " " + car.model + " " + car.year + " - Daily Price: " + car.price + "$ - "
                + car.kms + " Kilometers - " + car.passengers + " passengers - " + car.transmission + " - AC: " + car.ac 
                + " - Color: " + car.color
              }}
            </option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label">User</label>
    <div class="control">
      <div class="select">
        <select name="user-id">
          <option disabled>Choose an User</option>
          {% for user in users %}
            <option value="{{ user.id }}" {{ 'selected' if reservation.userId === user.id }}>
              {{ user.id }}# - {{ user.firstName }} {{ user.lastName }}
            </option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>

  {% if reservation%}
    <div class="field">
      <label class="label">Rental Daily Price</label>
      <div class="control">
        <input class="input" name="rental-daily-price" autocomplete="off" type="number"
        placeholder="Leaving this blank will use the default values"
        {% if reservation %}
          value="{{ reservation.rentalDailyPrice }}"
        {% endif %}
        >
      </div>
    </div>
  {% endif %}

  <div class="field">
    <div class="control">
      <label class="label">{{ "Paid" if reservation else "Pay On Reservation" }}</label>
      <label class="radio"><input required type="radio" name="payment-status" value="true"
      {{ 'checked' if reservation.paymentStatus === true}}
      >Yes</label>
      <label class="radio"><input required type="radio" name="payment-status" value=""
      {{ 'checked' if reservation.paymentStatus === false}}
      >No</label>
    </div>
  </div>
  
  {% if reservation %}
    <input type="hidden" name="created-at" value="{{ reservation.createdAt }}">
  {% endif %}
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link" type="submit">Submit</button>
    </div>
    <div class="control">
      <button class="button is-danger cancel-button" type="button" onclick="window.location.href='/reservations/manage'">Cancel</button>
    </div>
  </div>
</form>
{% endblock %}