<button class="button unblock-button" title="Mark this reservation as confirmed">
  <span class="icon">
    <i class="fa-solid fa-unlock"></i>
  </span>
</button>
<a class="button" href="{{ "/reservations/view/" + reservation.id }}" title="View reservation details">
  <span class="icon">
    <i class="fa-solid fa-search has-text-black"></i>
  </span>
</a>
<a class="button" disabled title="Cannot modify finished reservations">
  <span class="icon">
    <i class="fa-solid fa-edit has-text-black"></i>
  </span>
</a>
