<button class="button pay-button" title="Mark reservation as paid">
  <span class="icon">
    <i class="fa-solid fa-dollar-sign"></i>
  </span>
</button>
<a class="button" href="{{ "/reservations/view/" + reservation.id }}" title="View reservation details">
  <span class="icon">
    <i class="fa-solid fa-search has-text-black"></i>
  </span>
</a>
<a class="button" href="{{ "/reservations/edit/" + reservation.id }}" title="Edit reservation">
  <span class="icon">
    <i class="fa-solid fa-edit has-text-black"></i>
  </span>
</a>
